<!--h3>{{nodes.length}} Active Nodes </h3-->
<h2>Raft Consensus</h2>
{{nodes}}
<div class="row">
	<div class="col-md-5">
		<button type="button" class="btn btn-primary" ng-click="spawn(1)">Spawn Single Node</button>
		<button type="button" class="btn btn-primary" ng-click="spawn(nodesToSpawn)">Spawn Multiple Nodes</button>
	</div>
	<div class="input-group col-md-2">
	  <span class="input-group-btn">
	      <button type="button" class="btn btn-default btn-number" ng-click="nodesToSpawn=(nodesToSpawn - 1)">
	          <span class="glyphicon glyphicon-minus"></span>
	      </button>
	  </span>
	  <input style="text-align:center;"type="text" name="quant[1]" class="form-control input-number" ng-model="nodesToSpawn">
	  <span class="input-group-btn">
	      <button type="button" class="btn btn-default btn-number" ng-click="nodesToSpawn=(nodesToSpawn + 1)">
	          <span class="glyphicon glyphicon-plus"></span>
	      </button>
	  </span>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Node</th>
					<th>PID</th>
					<th>Port</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="node in nodes">
					<td>{{$index}}</td>
					<td>{{node.pid}}</td>
					<td>{{node.port}}</td>
					<td><button type="button" class="btn btn-primary" ng-click="setActiveNode(node)">Test</button></td>
					<td><button type="button" class="btn btn-primary" ng-click="kill(node.pid)">Kill</button></td>
					<td ng-if="node.port==leader.port"><div class="alert alert-success" role="alert" style="text-align:center;">Leader</div></td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-danger" ng-click="killAll()">Kill All Nodes</button>
		<button type="button" class="btn btn-danger" ng-click="deleteData()">Delete All Databases</button>
		<button type="button" class="btn btn-primary pull-right" ng-click="getLeader()">Get Leader</button>
	</div>
</div>
<hr>
<div class="row" ng-if="activeNode">
	<div class="col-md-12">
		<h2>Testing Port: {{activeNode.port}}</h2>
	</div>
	<div class="col-md-6">
		<h3>Put Single</h3>
		<form role="form">
			<div class="form-group">
				<label>Key:</label>
				<input type="text" class="form-control" ng-model="newKey">
			</div>
			<div class="form-group">
				<label>Value:</label>
				<input type="text" class="form-control" ng-model="newValue">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="put(newKey,newValue)">Put</button>
			</div>
		</form>
		<hr>
		<h3>Put Batch</h3>
			<div class="form-group">
				<label>File:</label>
				<ng-csv-import content="csv.content"
				    header="csv.header" 
				    separator="csv.separator"
				    result="csv.result"
				    accept="csv.accept">
				</ng-csv-import>
			</div>
			<div class="form-group">
				<label>Key:</label>
			    <select ng-model="batchPut.key">
				  <option ng-repeat="key in batchPut.keys" value="{{key.index}}">{{key.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Value(s):</label>
				<select ng-model="batchPut.value1">
				  <option ng-repeat="key in batchPut.keys" value="{{key.index}}">{{key.name}}</option>
				</select>
				<select ng-model="batchPut.value2">
				  <option value=""></option>
				  <option ng-repeat="key in batchPut.keys" value="{{key.index}}">{{key.name}}</option>
				</select>
			</div>
			<!--div class="form-group">
				&lt;{{batchPut.key}}&gt;:&lt;{{batchPut.value1}},{{batchPut.value2}}&gt;
			</div-->
			<div class="form-group form-inline">
				<div class="form-group">
				<label>Range:</label>
				<input style="width:100px;"type="text" class="form-control" ng-model="batchPut.min">
				</div>
				<div class="form-group">
				<input style="width:100px;"type="text" class="form-control" ng-model="batchPut.max">
			</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="putBatch(batchPut.key,batchPut.value1,batchPut.value2, batchPut.min, batchPut.max)">Put</button>
			</div>
	</div>
	<div class="col-md-6">
		<h3>Get</h3>
			<div class="form-group">
				<label>Key:</label>
				<input type="text" class="form-control" ng-model="getKey">
			</div>
			<div class="form-group form-inline">
				<div class="form-group">
					<label>URL:</label>
					<h4>POST http://localhost:{{activeNode.port}}/</h4>
				</div>
				<div class="form-group pull-right">
					<label>Payload:</label>
					<h4>{"key":"{{getKey}}"}</h4>
				</div>
			</div>
			<!--div class="form-group form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="get(getKey)">Get</button>
				</div>
				<div class="form-group">
					<label>Result:</label>
					<h4>{{getResponse}}</h4>
				</div>
			</div-->
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="get(getKey)">Get</button>
			</div>
			<div class="form-group" ng-if="getResponse">
				<label>Result:</label>
				<h4>{{getResponse}}</h4>
			</div>
	</div>
</div>